@model AspTask2_FormTask.Models.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>

    <style>
        input{
            font-size:3em;
        }
        a{
            font-size:3em;
        }
    </style>
</head>
<body>

    <form style="font-size:3em;" asp-controller="Form" asp-action="Add">
        Id : <input asp-for="User.Id" />
        <br />
        Name : <input asp-for="User.Name" />
        <br />
        Surname : <input asp-for="User.Surname" />
        <br />
        Age : <input asp-for="User.Age" />
        <br />
        Add Image : <input type="file" asp-for="@Model.File"/>
    </form>

    <a asp-controller="Home" asp-action="Index">Create</a>

</body>
</html>
